In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
1,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
2,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
3,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
4,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0

In [3]:
df.drop('Surname', axis=1, inplace=True)

In [4]:
df.head()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,14,15691483,549,France,Female,25,5,0.00,2,0,0,190857.79,0
1,15,15600882,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
2,16,15643966,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
3,17,15737452,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
4,18,15788218,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9987 entries, 0 to 9986
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9987 non-null   int64
 1   CustomerId       9987 non-null   int64
 2   CreditScore      9987 non-null   int64
 3   Geography        9987 non-null   object
 4   Gender           9987 non-null   object
 5   Age              9987 non-null   int64
 6   Tenure           9987 non-null   int64
 7   Balance          9987 non-null   float64
 8   NumOfProducts    9987 non-null   int64
 9   HasCrCard        9987 non-null   int64
 10  IsActiveMember   9987 non-null   int64
 11  EstimatedSalary  9987 non-null   float64
 12  Exited           9987 non-null   int64
dtypes: float64(2), int64(9), object(2)
memory usage: 1014.4+ KB

In [6]:
df.isnull().sum()

RowNumber          0
CustomerId         0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.head()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,14,15691483,549,France,Female,25,5,0.00,2,0,0,190857.79,0
1,15,15600882,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
2,16,15643966,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
3,17,15737452,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
4,18,15788218,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0

In [8]:
df['Gender'] = df['Gender'].str.lower().map({'male': 1, 'female': 2})

In [9]:
df.head()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,14,15691483,549,France,2,25,5,0.00,2,0,0,190857.79,0
1,15,15600882,635,Spain,2,35,7,0.00,2,1,1,65951.65,0
2,16,15643966,616,Germany,1,45,3,143129.41,2,0,1,64327.26,0
3,17,15737452,653,Germany,1,58,1,132602.88,1,1,0,5097.67,1
4,18,15788218,549,Spain,2,24,9,0.00,2,1,1,14406.41,0

In [10]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

encoded = encoder.fit_transform(df[['Geography']])

df_encoded = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['Geography']))
df = pd.concat([df.drop('Geography', axis=1), df_encoded], axis=1)

In [11]:
df.head()

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,14,15691483,549,2,25,5,0.00,2,0,0,190857.79,0,1.0,0.0,0.0
1,15,15600882,635,2,35,7,0.00,2,1,1,65951.65,0,0.0,0.0,1.0
2,16,15643966,616,1,45,3,143129.41,2,0,1,64327.26,0,0.0,1.0,0.0
3,17,15737452,653,1,58,1,132602.88,1,1,0,5097.67,1,0.0,1.0,0.0
4,18,15788218,549,2,24,9,0.00,2,1,1,14406.41,0,0.0,0.0,1.0

In [12]:
df = df.drop(columns=['RowNumber', 'CustomerId'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9987 entries, 0 to 9986
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        9987 non-null   int64
 1   Gender             9987 non-null   int64
 2   Age                9987 non-null   int64
 3   Tenure             9987 non-null   int64
 4   Balance            9987 non-null   float64
 5   NumOfProducts      9987 non-null   int64
 6   HasCrCard          9987 non-null   int64
 7   IsActiveMember     9987 non-null   int64
 8   EstimatedSalary    9987 non-null   float64
 9   Exited             9987 non-null   int64
 10  Geography_France   9987 non-null   float64
 11  Geography_Germany  9987 non-null   float64
 12  Geography_Spain    9987 non-null   float64
dtypes: float64(5), int64(8)
memory usage: 1014.4 KB

In [14]:
df['Age'].describe()

count    9987.000000
mean       38.923400
std        10.490983
min        18.000000
25%        32.000000
50%        37.000000
75%        44.000000
max        92.000000
Name: Age, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split

X = df.drop('Exited', axis=1)
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [16]:
from xgboost import XGBClassifier

xgb = XGBClassifier(
    n_estimators=350,
    max_depth=6,
    learning_rate=0.03,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42
)
xgb.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=0.03, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=6,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=350,
              n_jobs=None, num_parallel_tree=None, ...)

In [17]:
y_pred = xgb.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.8678678678678678